.home {
  .home__container {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 0.3fr;

    .home__lists {
      // min-width: 300px;
      display: flex;
      // justify-content: center;
      gap: 60px;
      // flex-wrap: wrap;
      overflow-x: scroll;
      scroll-behavior: smooth;
      padding: 60px;

      h1 {
        text-align: center;
      }
    }

    .home__createl {
      margin-top: 80px;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: rgb(228, 229, 231);
        padding: 10px;

        input {
          // height: 20px;
          width: 70%;
          min-width: 120px;
          padding: 8px;
        }

        button {
          width: 120px;
        }
      }
    }

  }
}
